* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
}

// template One

.template-one {
    .list-img-wrapper {
        ul>li {
            border-top: 2px solid #222;
            border-bottom: 2px solid #222;

            a {
                text-decoration: none;
                position: relative;
                display: block;
                padding: 50px 0px;

                h3 {
                    font-size: 100px;
                    font-weight: 900;
                    line-height: 1.3;
                    color: #222;
                    text-transform: capitalize;
                }

                .img-item {
                    position: absolute;
                    top: -80px;
                    right: 0;
                    opacity: 0;
                    visibility: hidden;
                    z-index: -1;

                    img {
                        width: 500px;
                    }
                }

                &:hover {
                    .img-item {
                        opacity: 1;
                        visibility: visible;
                        animation-name: fadeUp;
                        animation-duration: 0.5s;
                    }

                }
            }
        }

        &:hover {
            a {
                h3 {
                    color: rgba(34, 34, 34, 0.433);
                }

                &:hover {
                    h3 {
                        color: #222;
                    }
                }
            }
        }
    }
}

@keyframes fadeUp {
    0% {
        transform: translateY(70px);
    }

    100% {
        transform: translateY(0px);
    }
}


.template-two {

    .scroll-container,
    .scroll-area {
        width: 100%;
        height: 550px;
        font-size: 60px;
    }

    .scroll-container {
        overflow-y: auto;
        scroll-snap-type: y mandatory;
        scrollbar-width: none;
    }

    .scroll-area {
        scroll-snap-align: start;
    }

   
}